<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout2}">
    <head>
        <title th:text="#{painRecord.add.headline}" />
    </head>
    <body>
        <div layout:fragment="content1">
            <main id="main">
                <section id="featured-services">

                </section>

        <div layout:fragment="content">

            <section id="contact" class="contact">
              <div class="container">
        
                <div class="section-title">
                  <h2 th:text="#{painRecord.add.headline}"></h2>
                  <p></p>
                </div>
        
              </div>
        
              <div class="container">
            <div th:replace="~{fragments/forms::globalErrors('painRecord')}" />
            <form th:action="${requestUri}" method="post" th:object="${painRecord}">
                <div th:replace="~{fragments/forms::inputRow(object='painRecord', field='level', type='number')}" />
              
                <div class="row">
                    <div class="col-md-3">
                        <h6>Localisation des douleurs:</h6>
                    </div>
                    <div class="col-md-6">
                <ul class="checkbox">
                    <li th:each="location : ${locationValues}" th:id="${'check-' + location}">
                        <input type="checkbox" th:field="*{locations}" th:value="${location}"  />
                        <label th:text="${location}" ></label>
                    </li>
                  </ul>
                    </div></div>


                        <div class="row">
                            <div class="col-md-3">
                                <h6>Symptomes:</h6>
                            </div>
                            <div class="col-md-6">
                        <ul class="checkbox">
                            <li th:each="symptom : ${symptomeValues}" th:id="${'check-' + symptom}">
                                <input type="checkbox" th:field="*{symptoms}" th:value="${symptom}"  />
                                <label th:text="${symptom}" ></label>
                            </li>
                          </ul>
                            </div></div>

                            <div class="row">
                                <div class="col-md-3">
                                    <h6>Ce qui aggrave la douleur:</h6>
                                </div>
                                <div class="col-md-6">
                            <ul class="checkbox">
                                <li th:each="makePainWors : ${makepainworseValues}" th:id="${'check-' + makePainWors}">
                                    <input type="checkbox" th:field="*{makePainWorse}" th:value="${makePainWors}"  />
                                    <label th:text="${makePainWors}" ></label>
                                </li>
                              </ul>
                                </div></div>

                <div class="row">
                    <div class="col-md-3">
                        <h6>Sentiments:</h6>
                    </div>
                    <div class="col-md-6">
                <ul class="checkbox">
                    <li th:each="feeling : ${feelingsValues}" th:id="${'check-' + feeling}">
                        <input type="checkbox" th:field="*{feelings}" th:value="${feeling}"  />
                        <label th:text="${feeling}" ></label>
                    </li>
                  </ul>
                    </div>
                               
                
                <input type="hidden" th:field="${painRecord.user}" th:value="${userId}" />
                <div class="text-center">
                <input type="submit" th:value="#{painRecord.add.headline}" class="appointment-btn" />
                </div>
            </form>
        </div>
    </div>
</section><!-- End Contact Section -->
        <div class="text-center">
            <a th:href="@{/painRecords}" th:text="#{painRecord.add.back}" class="btn btn-secondary" />
        </div>
    </body>
</html>
