<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout2}">
    <head>
        <title th:text="#{painRecord.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content1">
            <main id="main">

                <section id="featured-services">

                </section>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{painRecord.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/painRecords/add}" th:text="#{painRecord.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:if="${painRecords.empty}" th:text="#{painRecord.list.empty}" />
            <div th:if="${!painRecords.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{painRecord.id.label}" scope="col" />
                            <th th:text="#{painRecord.level.label}" scope="col" />
                            <th th:text="#{painRecord.user.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="painRecord : ${painRecords}">
                            <td th:text="${painRecord.id}" />
                            <td th:text="${painRecord.level}" />
                            <td th:text="${painRecord.user}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/painRecords/edit/{id}(id=${painRecord.id})}" th:text="#{painRecord.list.edit}" class="btn btn-sm btn-secondary" />
                                    <form th:action="@{/painRecords/delete/{id}(id=${painRecord.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button th:text="#{painRecord.list.delete}" type="submit" class="btn btn-sm btn-secondary" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
