<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout2}">


    <head>
        <title th:text="#{post.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content1">
            <main id="main">

                <section id="featured-services">

                </section>
        

         <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2  th:text="#{post.list.headline}"></h2>
            <p th:if="${posts.empty}" th:text="#{post.list.empty}"></p>
            <a th:href="@{/posts/add}" class="appointment-btn scrollto"><span th:text="#{post.list.createNew}" class="d-none d-md-inline"></span></a>
          </div>
  
          <div th:if="${!posts.empty}" class="row">

            <div th:each="post : ${posts}" class="col-lg-6 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                    <img th:src="'data:image/png;base64,' + ${post.image}" alt="Image" style="max-width: 400px; max-height: 400px;"/>
                  <div class="social">
                    <div class="float-end text-nowrap">
                        <a th:href="@{/posts/edit/{id}(id=${post.id})}"   >
                        <button th:text="#{post.list.edit}" class="btn btn-sm btn-secondary"></button>
                        </a>
                        <form th:action="@{/posts/delete/{id}(id=${post.id})}"
                                th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                            <button th:text="#{post.list.delete}" type="submit" class="btn btn-sm btn-secondary" />
                        </form>
                    </div>
                  </div>
                </div>
                <div class="member-info">
                  <h4 th:text="${post.title}"></h4>
                  <span th:text="${post.id}"></span>
                  <p th:text="${post.user}"></p>
                </div>
              </div>
            </div>
  
            
  
        </div>
      </section><!-- End Doctors Section -->
            </main>
        </div>
    </body>
</html>
