<!DOCTYPE HTML>
<html layout:decorate="~{layout2}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="@{PainCare | {title}(title=${post.title})}"/>
</head>
<body>
<div layout:fragment="content1">
    <main id="main">
        <section id="featured-services">

        </section>

        <div layout:fragment="content">
            <section class="blog" id="blog">
                <article class="d-flex flex-column">
                    <div class="container">
                        <div class="section-title">
                            <h2 th:text="${post.title}"></h2>
                        </div>

                        <div class="d-flex flex-row justify-content-between">
                            <ul class="d-flex flex-row">
                                <li class="d-flex align-items-center"><i class="bi bi-sticky" th:text="${post.id}"></i>
                                </li>
                                <li class="d-flex me-2"></li>
                                <li class="d-flex align-items-center">
                                    <i class="bi bi-person" th:text="${poster_username}"></i>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-lg-4" th:if="${post.user == user.id}">

                                    <a th:href="@{/posts/edit/{id}(id=${post.id})}">
                                        <button class="appointment-btn" th:text="#{post.list.edit}"></button>
                                    </a>
                                </div>

                                <div class="col-lg-4" th:if="${post.user == user.id}">
                                    <form class="d-inline"
                                          method="post" th:action="@{/posts/delete/{id}(id=${post.id})}"
                                          th:hx-confirm="#{delete.confirm}">
                                        <button class="appointment-btn" th:text="#{post.list.delete}"
                                                type="submit"/>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="container mb-5"></div>

                        <div class="container">
                            <article class="d-flex flex-column align-items-center justify-content-around">
                                <div class="post-img mb-5">
                                    <img alt="Image" class="img-fluid"
                                         th:src="'data:image/png;base64,' + ${post.image}"/>
                                </div>


                                <div class="content flex-column align-items-start justify-content-start" style="  word-wrap: break-word;">
                                    <p th:text="${post.description}"></p>
                                </div>

                                <div class="container">
                                    <div th:replace="~{fragments/forms::globalErrors('comment')}"/>
                                    <form method="post" th:action="${requestUri}" class="d-flex justify-content-around">
                                        <div th:replace="~{fragments/forms::inputRow(object='comment', field='comment')}"/>
                                        <input class="appointment-btn" th:value="Comment" type="submit"/>
                                    </form>
                                </div>

                                <div class="col-lg-6 posts-list">
                                    <div th:each="comment : ${comments}">
                                        <!-- comment + username + date -->
                                        <article class="d-flex flex-column">

                                            <div class="meta-top">
                                                <ul>
                                                    <li class="d-flex align-items-center"><i class="bi bi-sticky"
                                                                                             th:text="${comment.user.name}"></i></li>
                                                    <li class="d-flex align-items-center">
                                                        <i class="bi bi-person" th:text="${#temporals.format(comment.dateCreated, 'dd/MM/yyyy HH:mm')}"></i>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="content" style="  word-wrap: break-word;">
                                                <p th:text="${comment.comment}"></p>
                                            </div>
                                        </article>
                                    </div>
                                </div>

                            </article>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </main>
</div>
</body>
</html>
