<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="inputRow(object, field)" th:with="type=${type} ?: 'text', required=${required}, disabled=${disabled},
                inputClassappend=${#fields.hasErrors(field) || (type == 'textarea' && #fields.hasErrors(field + '.*')) ? 'is-invalid ' : ''} + ${inputClass}"
                th:object="${__${object}__}" class="row mb-3">
            <div th:if="${type == 'checkbox'}" class="col-md-10 offset-md-2">
                <div class="form-check">
                    <input th:type="${type}" th:field="*{__${field}__}" th:disabled="${disabled}"
                            th:classappend="${inputClassappend}" class="form-check-input" />
                    <label th:for="${#ids.prev(field)}" class="form-check-label">
                        <span th:text="#{__${object}__.__${field}__.label}" /><!--/*
                        */--><span th:replace="~{:: requiredStar(object=${object}, field=${field}, required=${required})}" />
                    </label>
                </div>
                <div th:replace="~{:: fieldErrors(${object}, ${field})}" />
            </div>
            <strong><label th:if="${type != 'checkbox'}" th:for="${field}" class="form-label col-md-2 col-form-label">
                <span th:text="#{__${object}__.__${field}__.label}" /><!--/*
                */--><span th:replace="~{:: requiredStar(object=${object}, field=${field}, required=${required})}" />
            </label></strong>
            <div th:if="${type != 'checkbox'}" class="col-md-9">
                <input th:if="${type == 'text' || type == 'password' || type == 'email' || type == 'tel' || type == 'number'}"
                        th:type="${type}" th:field="*{__${field}__}" th:disabled="${disabled}"
                        th:classappend="${inputClassappend}" class="form-control" />
                        <div style="position: relative;">
                <input th:if="${type == 'range'}" 
                        th:type="${type}" 
                        th:field="*{__${field}__}" 
                        th:disabled="${disabled}" 
                        th:classappend="${inputClassappend}" 
                        th:min="0" 
                        th:max="10" 
                        class="form-range" style="width: 100%; height: 10px; background: linear-gradient(to right, #fff, #fff); border: 1px solid #ccc;
                        border-radius: 5px; " />

                        <div id="${field}Value" class="range-value" style="position: absolute;
                        top: -30px; /* Adjust the distance above the thumb */
                        left: 50%;
                        transform: translateX(-50%);
                        padding: 5px;
                        border-radius: 5px;
                        background-color: rgba(255, 255, 255, 0.9);
                        color: maroon;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                        display: none;">0</div></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var rangeInput = document.getElementById(/*[[${field}]]*/);
    var rangeValue = document.getElementById('${field}Value');
    
    function updateTooltip() {
        rangeValue.textContent = rangeInput.value;

        // Calculate the left position of the tooltip based on the range value
        var leftPosition = (rangeInput.value / rangeInput.max) * 100;
        rangeValue.style.left = leftPosition + '%';
    }

    rangeInput.addEventListener('input', updateTooltip);

    rangeInput.addEventListener('mousedown', function() {
        rangeValue.style.display = 'block';
    });

    rangeInput.addEventListener('mouseup', function() {
        rangeValue.style.display = 'none';
    });

    rangeInput.addEventListener('touchstart', function() {
        rangeValue.style.display = 'block';
    });

    rangeInput.addEventListener('touchend', function() {
        rangeValue.style.display = 'none';
    });

    // Initial positioning of the tooltip
    updateTooltip();
    /*]]>*/
</script>
                <textarea th:if="${type == 'textarea'}" th:field="*{__${field}__}" th:disabled="${disabled}"
                        th:classappend="${inputClassappend}" class="form-control" />
                <select th:if="${type == 'select' || type == 'multiselect'}" th:field="*{__${field}__}" th:disabled="${disabled}"
                        th:multiple="${type == 'multiselect'}" th:classappend="${inputClassappend}" class="form-select">
                    <option th:if="${type == 'select'}" value="" th:text="#{select.empty.label}" />
                    <option th:if="${!(__${field}__Values instanceof T(java.util.Map))}"
                            th:each="optionValue : ${__${field}__Values}" th:value="${optionValue}" th:text="${optionValue}" />
                    <option th:if="${__${field}__Values instanceof T(java.util.Map)}"
                            th:each="optionValue : ${__${field}__Values}" th:value="${optionValue.key}" th:text="${optionValue.value}" />
                </select>
                <div th:if="${type == 'radio' && !T(com.pain_care.pain_care.util.WebUtils).isRequiredField(__${object}__, field)}" class="form-check form-check-inline pt-2">
                    <input value="" th:checked="*{__${field}__} == null" th:name="${field}" th:disabled="${disabled}"
                            th:classappend="${inputClassappend}" type="radio" class="form-check-input" />
                    <label th:text="#{select.empty.label}" class="form-check-label" />
                </div>
                <div th:if="${type == 'radio'}" th:each="radioValue : ${__${field}__Values}" class="form-check form-check-inline pt-2">
                    <input th:field="*{__${field}__}" th:value="${radioValue}" th:disabled="${disabled}"
                            th:classappend="${inputClassappend}" type="radio" class="form-check-input" />
                    <label th:for="${#ids.prev(field)}" th:text="${radioValue}" class="form-check-label" />
                </div>
                <div th:replace="~{:: fieldErrors(${object}, ${field})}" />
            </div>
        </div>

        <span th:fragment="requiredStar(object, field)" th:with="required=${required}"
                th:if="${required == null ? T(com.pain_care.pain_care.util.WebUtils).isRequiredField(__${object}__, field) : required}">*</span>

        <div th:fragment="fieldErrors(object, field)" th:object="${__${object}__}" th:remove="tag">
            <div th:if="${#fields.hasErrors(field) || #fields.hasErrors(field + '.*')}" class="invalid-feedback d-block">
                <p th:each="fieldError : ${#fields.detailedErrors(field + '*')}"
                        th:text="${(fieldError.fieldName != field ? fieldError.fieldName + ': ' : '') + fieldError.message}" class="mb-0" />
            </div>
        </div>

        <div th:fragment="globalErrors(object)" th:object="${__${object}__}" th:remove="tag">
            <div th:if="${#fields.hasGlobalErrors()}" class="invalid-feedback d-block">
                <p th:each="globalError : ${#fields.globalErrors()}" th:text="${globalError}" class="mb-0" />
            </div>
        </div>
    </body>
</html>
