<!DOCTYPE HTML>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{comment.edit.headline}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1" th:text="#{comment.edit.headline}"/>
        <div>
            <a class="btn btn-secondary" th:href="@{/comments}" th:text="#{comment.edit.back}"/>
        </div>
    </div>
    <div th:replace="~{fragments/forms::globalErrors('comment')}"/>
    <form method="post" th:action="${requestUri}">
        <div th:replace="~{fragments/forms::inputRow(object='comment', field='id', disabled=true, type='number')}"/>
        <div th:replace="~{fragments/forms::inputRow(object='comment', field='comment', type='textarea')}"/>
        <div th:replace="~{fragments/forms::inputRow(object='comment', field='user', type='select')}"/>
        <div th:replace="~{fragments/forms::inputRow(object='comment', field='post', type='select')}"/>
        <input class="btn btn-primary mt-4" th:value="#{comment.edit.headline}" type="submit"/>
    </form>
</div>
</body>
</html>
