<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout2}">
    <head>
        <title th:text="#{comment.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content1">
        <main id="main">

            <section id="featured-services">

            </section>
    

     <!-- ======= Doctors Section ======= -->
<section id="doctors" class="doctors section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2  th:text="#{comment.list.headline}"></h2>
        <p th:if="${comments.empty}" th:text="#{comment.list.empty}"></p>
        <a th:href="@{/comments/add}" class="appointment-btn scrollto"><span th:text="#{comment.list.createNew}" class="d-none d-md-inline"></span></a>
      </div>


            <div th:if="${!comments.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{comment.id.label}" scope="col" />
                            <th th:text="#{comment.user.label}" scope="col" />
                            <th th:text="#{comment.post.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="comment : ${comments}">
                            <td th:text="${comment.id}" />
                            <td th:text="${comment.user}" />
                            <td th:text="${comment.post}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/comments/edit/{id}(id=${comment.id})}" th:text="#{comment.list.edit}" class="btn btn-sm btn-secondary" />
                                    <form th:action="@{/comments/delete/{id}(id=${comment.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button th:text="#{comment.list.delete}" type="submit" class="btn btn-sm btn-secondary" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section><!-- End Doctors Section -->
    </body>
</html>
