<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
        layout:decorate="~{layout2}">

        <div layout:fragment="content1">
              <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
          <div class="container">
            <h2>Bienvenu sur <span>PainCare</span></h2>
            <p>La solution m-Health PainCare a été développée dans le but de fournir des ressources complètes et une assistance aux femmes qui luttent contre l'endométriose.</p>
            <a href="#about" class="btn-get-started scrollto">Lire Plus</a>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item " style="background-image: url(/assets/img/slide/slide-5.png)">
          <div class="container">
            <h2>Bienvenu sur PainCare</h2>
            <p>La solution m-Health PainCare a été développée dans le but de fournir des ressources complètes et une assistance aux femmes qui luttent contre l'endométriose.</p>
            <a href="#about" class="btn-get-started scrollto">Lire Plus</a>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(/assets/img/slide/slide-3.jpg)">
          <div class="container">
            <h2>Bienvenu sur PainCare</h2>
            <p>La solution m-Health PainCare a été développée dans le but de fournir des ressources complètes et une assistance aux femmes qui luttent contre l'endométriose.</p>
            <a href="#about" class="btn-get-started scrollto">Lire Plus</a>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->
</div>

  <div layout:fragment="content">

    <main id="main">
      <!-- Add a link to log out -->
<a th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
<form id="logout-form" action="/logout" method="post" style="display: none;"></form>

      <!-- ======= Featured Services Section ======= -->
      <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">
  
          <div class="row justify-content-center">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="fas fa-heartbeat"></i></div>
                <h4 class="title"><a href="">Test de diagnostic</a></h4>
                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="fas fa-book-medical"></i></div>
                <h4 class="title"><a href="#faq">Informations sur l'endométriose</a></h4>
                <p class="description">Restez informé sur l'endométriose.</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="fas fa-chart-line"></i></div>
                <h4 class="title"><a th:href="@{/painRecords}">Evolution de la douleur</a></h4>
                <p class="description">Explorez votre parcours de douleur.</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Featured Services Section -->

           
            <div class="col-md-4 mb-5">
                <h4 th:text="#{home.index.exploreEntities}" class="mb-3" />
                <div class="list-group">
                    <a th:href="@{/users}" th:text="#{user.list.headline}" class="list-group-item list-group-item-action" />
                    <a th:href="@{/posts}" th:text="#{post.list.headline}" class="list-group-item list-group-item-action" />
                    <a th:href="@{/comments}" th:text="#{comment.list.headline}" class="list-group-item list-group-item-action" />
                    <a th:href="@{/painRecords}" th:text="#{painRecord.list.headline}" class="list-group-item list-group-item-action" />
                </div>
            </div>

            

                <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content px-xl-5">
              <h3> <strong>Questions</strong> Fréquemment posées</h3>
            </div>

            <div class="accordion accordion-flush px-xl-5" id="faqlist">

              <div class="accordion-item" data-aos="fade-up" data-aos-delay="200">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon"></i>
                    Qu'est-ce que l'endométriose ?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    L'endométriose est une affection dans laquelle des tissus similaires à la muqueuse de l'utérus sont également présents ailleurs dans le corps, principalement dans la cavité abdominale.  
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item" data-aos="fade-up" data-aos-delay="300">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <i class="bi bi-question-circle question-icon"></i>
                    Quels facteurs peuvent augmenter mes chances de souffrir d'endométriose ?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Vous avez plus de chances de développer une endometriose si vous avez :
                    <ul>
<li> Jamais eu d'enfants.</li>
<li> Des périodes menstruelles qui durent plus de sent jours.</li>
<li> Des cycles menstruels courts (27 jours ou moins).</li>
<li> Un membre de la famille (mère, tante, sœur) atteint d'endométriose.</li>
<li> Un problème de santé qui empêche l'écoulement normal du flux menstruel.</li>
<li> Des dommages aux cellules du pelvis causes par une infection.</li> </ul>
         </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item" data-aos="fade-up" data-aos-delay="400">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <i class="bi bi-question-circle question-icon"></i>
                    Quels sont les symptômes de l'endométriose ?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Le symptôme le plus courant de l'endométriose est la douleur pelvienne. La douleur survient souvent pendant les menstruations, pendant l'ovulation et/ou lors des rapports sexuels. Cependant, une femme atteinte d'endométriose peut également.
ressentir une douleur à d'autres moments de son cycle menstruel. Un autre symptôme est l'infertilité.
Certaines femmes atteintes d'endométriose éprouvent également une grande fatigue.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item" data-aos="fade-up" data-aos-delay="500">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <i class="bi bi-question-circle question-icon"></i>
                    Comment traite-t-on l'endométriose ?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <i class="bi bi-question-circle question-icon"></i>
                    Il n'existe pas de cure pour l'endométriose, mais il existe de nombreux traitements pour la douleur et l'infertilité qu'elle cause. Parlez à votre médecin de l'option qui vous convient le mieux. Le traitement que vous choisissez dépendra de vos symptômes, de votre âge et de vos projets de grossesse.
Médicaments contre la douleur - Pour certaines femmes présentant des symptômes légers, les médecins peuvent suggérer de prendre des médicaments en vente libre contre la douleur.
Traitement hormonal - Lorsque les médicaments contre la douleur ne suffisent pas, les médecins recommandent souvent des médicaments hormonaux pour traiter l'endométriose. Seules les femmes qui ne souhaitent pas devenir enceintes peuvent utiliser ces médicaments.
Chirurgie - La chirurgie est généralement la meilleure option pour les femmes atteintes d'endométriose sévère avec de nombreuses excroissances, beaucoup de douleur ou des problèmes de fertilité.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item" data-aos="fade-up" data-aos-delay="600">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <i class="bi bi-question-circle question-icon"></i>
                    Comment puis-je réduire mes chances de contracter l'endométriose ?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Maintenez des niveaux d'oestrogène plus bas dans votre corps. Essayez : <ul>
                    <li> Faire de l'exercice régulièrement.</li>
                    <li> Maintenir un faible pourcentage de graisse corporelle.</li>
                    <li> Éviter de consommer de grandes quantités d'alcool et de boissons contenant de la caféine. </li>
                     </ul></div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/endometriose-2.jpg");'>&nbsp;</div>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->

     <!-- ======= Departments Section ======= -->
     <section id="departments" class="departments">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Articles</h2>
          <p></p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                  <h4>Endometriosis: 21-year-old 'begging for help' from health system
                  </h4>
                  <p>Living with seizures and crippling pain, Zara Corbett says she's "begging for help" as she copes with endometriosis.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                  <h4>Period poverty</h4>
                  <p>How air pollution in Kenya could make periods heavier, more painful and more expensive
                    .</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                  <h4>Causes of Infertility + Risk Factors to Know
                    </h4>
                  <p>Why am I not getting pregnant?</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-8">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <h3>Endometriosis: 21-year-old 'begging for help' from health system</h3>
                <p class="fst-italic">Living with seizures and crippling pain, Zara Corbett says she's "begging for help" as she copes with endometriosis.</p>
                <img src="/assets/img/21year-old.jpeg" alt="" class="img-fluid">
                <p>Zara Corbett, who is 21, says Northern Ireland needs a dedicated centre to provide support.
                  Media caption, Zara Corbett was diagnosed with endometriosis at 21
                  Living with seizures and crippling pain, Zara Corbett says she's "begging for help" as she copes with endometriosis.
                  The 21-year-..</p>
                  <a href="https://www.bbc.com/news/uk-northern-ireland-67626522" class="appointment-btn " target="_blank"><span class="d-none d-md-inline">Lire</span> Plus</a>

              </div>
              <div class="tab-pane" id="tab-2">
                <h3>Period poverty</h3>
                <p class="fst-italic">How air pollution in Kenya could make periods heavier, more painful and more expensive.   </p>
                <img src="/assets/img/period-poverty.png" alt="" class="img-fluid">
                <p>Period poverty affects millions worldwide.
                  New research now suggests air pollution is making periods heavier and more painful.
                  CNN travels to Nairobi to look at how this is affecting Kenya's most vulnerable women.
                  This story is part of As Equals, CNN's ongoing series on gender inequality. Find out more about it here...</p>
                  <a href="https://edition.cnn.com/2023/12/05/africa/period-poverty-air-pollution-kenya-as-equals-intl-cmd/index.html" class="appointment-btn " target="_blank"><span class="d-none d-md-inline">Lire</span> Plus</a>

              </div>
              <div class="tab-pane" id="tab-3">
                <h3>Causes of Infertility + Risk Factors to Know</h3>
                <p class="fst-italic">Why am I not getting pregnant?</p>
                <img src="/assets/img/Causes-of-Infertility.jpg" alt="" class="img-fluid">
                <p>Infertility isn't just a clinical term; it's a journey filled with hopes, doubts, and a quest for answers. Whether you've been TTC (trying to conceive) for several months or even for years, you're likely looking for answers to the nagging question, Why am I n...
                </p>
                  <a href="https://www.mamanatural.com/causes-of-infertility/" class="appointment-btn " target="_blank"><span class="d-none d-md-inline">Lire</span> Plus</a>
                </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Departments Section -->

            </main>
        </div>
    </body>
</html>
